/* CSS Document */

:root {
--header-color: #121214;
--font-black: #000;
--font-white: #fff;
--background-color: #fff;
--almost-white: #FAFAFB;
--grey-light: #E5E5E8;
--grey1: #a6a8ad;
--grey2: #81838a;
--grey3: #818A83;
--grey4: #63656D;
--main-blue: #0033FF;
--accent-red: #DB264A;
}

*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
  font-family: 'roboto', 'sans-serif';
}

/*####################################
############### HEADER ###############
####################################*/
header {
  background-color:var(--header-color);
  height: 3.5em;
  display: flex;
  align-items: center;
  gap: .8em;
  padding-left: 1.5em;
  position: sticky;
  top: 0;
  z-index: 9999;
  position: relative;
}

header a {
  margin-top: .2em;
}

header a:nth-of-type(2) {
  margin-left: auto;
  margin-right: 1.3em;
  order: 1;
}

header div { 
  display: flex;
  margin-left: 12.5em;
  gap: 1.2em;
  align-items: center;
  position: absolute;
  right: 0;
}


header button {
  border: none;
  background-color:var(--header-color);
  margin-top: .2em;
  transition: .3s;
}

header button:hover {
  transform: skewX(20deg) scale(1.1);
}

header button:active {
  background-color: var(--backround-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color:var(--header-color);
  width: 250px;
  margin-right: 20em;

  transform: translateX(-100%);
  transition:.5s;
}

body.toonNav nav {
  transform: translateX(0%);
}

body.toonNav main {
  opacity: .25;
}

nav > a {
  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 1em;
  text-decoration: none;
  padding: 1.2em;
  color:var(--grey1);
  
}

nav a h2 {
  grid-column: 2;
  grid-row: 1;
  color:var(--font-white);
  font-size: 1.3em;
}

nav a img {
  grid-column: 1;
  grid-row: 1 / 3;
  order: -1;
  width: 3em;
  border: solid 3px var(--grey1);
  border-radius: 2em;
  margin-right: .8em;
}

nav p {
  grid-column: 2;
  grid-row: 2;
}

nav ul {
  margin-bottom: 4em;
}
nav ul li {
  margin: 0 0 1em 1.2em;
  list-style: none;
}
nav li a {
  color:var(--grey1);
  text-decoration: none;
}




/*####################################
#### HOME SECTION 1: GOOD MORNING ####
####################################*/
.hero {
  background: linear-gradient(15deg, rgba(23,195,255,1) 12%, rgba(71,33,255,1) 55%, rgba(90,46,255,1) 67%, rgba(177,122,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding: 0 1.2em 0 1.2em;
}
.hero h1 {
  font-family: 'Archivo Black', 'Roboto';
  font-size: 2.3em;
  font-weight: 800;
  color:var(--font-white);
  letter-spacing: -0.1ch;
}

.hero p {
  font-size: 1.3em;
  line-height: 1.4;
  color:var(--font-white);
  margin-top: .3em;
}




/*####################################
 HOME SECTION 2: DISCOVER NEW SOUNDS #
####################################*/
.new {
  position: relative;
  padding: 1.2em;
}

.new h2 {
  font-size: 1.3em;
  margin-top: 1.5em;
}

.new h3 {
  margin-top: 1em;
  font-size: 1.3em;
  display: inline-block;
  margin-right: .5em;
}

.new h3 + a {
  text-decoration: none;
  color:var(--main-blue);
  font-size: .9em;
}

.new h3 + a:hover {
  text-decoration: underline;
}

.new ul {
  display: flex;
  gap: 2em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: none;
  list-style-type: none;
  margin: 1.5em 0 1em 0;
  padding: 0 1em;

  /* scrollbar verbergen maar wel functionaliteit behouden: 
  bron: https://blog.hubspot.com/website/hide-scrollbar-css */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.new ul::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.new li {
  width: 180px;
  scroll-snap-align: start;
  padding: 1em;
  background-color:var(--almost-white);
  border-radius: .5em;
  margin-right: -1.5em;
}

.new h4 {
  font-size: .9em;
  font-weight: 500;
  color:var(--header-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new p {
  font-size: .9em;
  font-weight: 400;
  color:var(--grey3);
}

.new p + p {
  color:var(--grey4);
  padding-top: 2em;
}

.new li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.new li img {
  width: 148px;
  order: -1;
  padding-bottom: 1em;
}





/*####################################
####### HOME SECTION 3: APP AD #######
####################################*/
.app {
  margin: 1.2em;
  padding: 1.2em;
  position: relative;
  background: repeating-radial-gradient(circle at top left, var(--accent-red) 0%, var(--accent-red) 50%, var(--main-blue) 50%, var(--main-blue) 90%);
  border-radius: .5em;
  height: 23.1em;
  color:var(--font-white);
  text-align: center;    
  max-width: 82.5em; 
}

.app img {
  width: 125px;
  position: absolute;
  bottom: .03em;
  right: 35%;
}

.app h2 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: smaller;
  letter-spacing: .05em;
  margin: 2.5em 0 .7em 0;
}

.app h3 {
  font-family: 'Archivo Black', 'Roboto';
  letter-spacing: -.05em;
  text-align: center;
  padding: 0 1.5em 0 1.5em;
  margin: 0 auto 1.3em auto;
  max-width: 23ch;
}

.app a:nth-of-type(1) {
  text-decoration: none;
  color:var(--font-black);
  background-color:var(--background-color);
  padding: .4em 1em;
  border-radius: 2em;
  font-size: .92em;
  font-weight: 400;
  letter-spacing: .03em;
  margin-right: .3em;
}

.app a:nth-of-type(1):hover {
  background-color: var(--grey1);
  transition: .3s;
}

.app a:nth-of-type(1):active {
  background-color: var(--header-color);
  color: var(--font-white);
  transition: 0s;
}

.app a:nth-of-type(2) {
  text-decoration: none;
  color:var(--font-white);
  padding: .4em 1em;
  border-radius: 2em;
  font-size: .92em;
  font-weight: 400;
  border: solid 1px var(--font-white);
}

.app a:nth-of-type(2):hover {
  background-color: var(--background-color);
  border: none;
  color: var(--font-black);
  transition: .3s;
}

.app a:nth-of-type(2):active {
  background-color: var(--header-color);
  color: var(--font-white);
  transition: 0s;
}

.app button {
  position: absolute;
  background-color:var(--background-color);
  color:var(--font-black);
  font-weight: 600;
  border-radius: 2em;
  right: .6em;
  top: .6em;
  border: none;
  width: 1.8em;
  height: 1.8em;

  transition: .3s;
}

.app button:hover {
  background-color: var(--header-color);
  color: var(--font-white);
  transform: rotate(1turn);
}

.app button:active {
  background-color: var(--background-color);
  color: var(--header-color);
  
}



/*####################################
###### HOME SECTION 4: POPULAR #######
####################################*/
.popular {
  padding: 1.2em;
}

.popular h2 {
  font-size: 1.3em;
  display: inline-block;
  margin: .4em .5em .9em 0;
}

.popular h2 + a {
  text-decoration: none;
  color:var(--main-blue);
  font-size: .9em;
}

.popular h2 + a:hover {
  text-decoration: underline;
}

.popular ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: popular;
}

.popular ol li {
  counter-increment: popular;
  border-bottom: solid 1px var(--grey-light);
}

.popular li a {
  display:grid;
  grid-template-columns: 3em 3em 1fr;
  grid-template-rows: 50% 50%;
  text-decoration: none;
  color:var(--font-black);
}

.popular li a:hover {
  background-color: var(--almost-white);
}

.popular a img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}

.popular a h3 {
  grid-column-start: 3;
  grid-row-start: 1;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: .9em;
  padding: 0.4em 0 0 0;
}

.popular ol li:nth-child(2) a h3 {
  text-transform: uppercase;
}

.popular a h3:active {
  text-decoration: underline;
}

.popular a p {
  grid-column-start: 3;
  grid-row-start: 2;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color:var(--grey3)
}

.popular li a::before {
  content: counter(popular);
  justify-self: center;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.3em;
  font-weight: 700;
}





/*####################################
###### HOME SECTION 5: EXPLORE #######
####################################*/
.explore {
  text-align: center;
  background-color:var(--almost-white);
  margin: 3em 1.2em 5em 1.2em;
  padding: 3.3em 2em 4em 2em;
  border-radius: .3em;
}

.explore h2 {
  margin-bottom: .5em;
  font-size: 1.3em;
}

.explore p {
  font-size: 1em;
  letter-spacing: .03em;
  margin-bottom: 2.3em;
}

.explore a {
  background-color:var(--main-blue);
  color:var(--font-white);
  font-weight: 700;
  text-decoration: none;
  padding: .9em 2em;
  border-radius: 2em;
  font-size: 1.1em;
  
  transition: .3s;
}

.explore a:hover {
  background-color: var(--accent-red);
}

.explore a:active {
  background-color: var(--header-color);
  color: var(--background-color);
  transition: 0s;
}

/*####################################
##### HOME SECTION 6: TUTORIALS ######
####################################*/
.tutorials {
  background-color:var(--almost-white);
  border-top: solid 1px var(--grey-light);
  padding: 3em 1.2em 2em 1.2em;
}

.tutorials h2 {
  font-size: 1.3em;
  margin-bottom: 1.7em;
}

.tutorials li {
  list-style: none;
}

.tutorials a {
  text-decoration-line: none;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.2em;
  background-color:var(--background-color);
  border-radius: .3em;
  box-shadow: 2px 2px 3px var(--grey-light);
}

.tutorials h3 {
  font-size: 1em;
  color:var(--font-black);
  padding: 0 1.2em;
  margin-bottom: .7em;
}

.tutorials h3 span {
  text-transform: uppercase;
}

.tutorials img {
  width: 100%;
  order: -1;
  border-radius: .3em .3em 0 0;
  margin-bottom: 1.3em;
}

.tutorials p {
  font-size: .8em;
  color:var(--grey2);
  padding: 0 1.2em;
  letter-spacing: .04em;
  margin-bottom: 2.2em;
}





/*####################################
#### HOME SECTION 7: ANNOUNCEMENT ####
####################################*/
.announcement {
  display: flex;
  flex-flow: column nowrap;
  padding: 7em 1.2em 0 1.2em;
  text-align: center;
}

.announcement h2 {
  font-size: 1.3em;
  margin-bottom: .6em;
}

.announcement p:first-of-type {
  font-size: 3em;
  order: -1;
  margin-bottom: .2em;
}

.announcement p {
  font-size: 1em;
  color:var(--grey3);
  margin-bottom: 3em;
  letter-spacing: .04em;
}

.announcement div {
  height: 7.5em;
  width: 2px;
  background-color:var(--grey-light);
  align-self: center;
  margin-bottom: 2em;
}





/*####################################
######## HOME SECTION 8: TIPS ########
####################################*/
.tips {
  margin: 1.2em;
  padding: 8em 3em 6em 3em;
  background-color:var(--almost-white);
  text-align: center;
  border-radius: .5em;
}

.tips h2 {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color:var(--grey3);
  letter-spacing: .07em;
  margin-bottom: 1.5em;
}

.tips blockquote {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}

.tips p {
  color:var(--grey4);
}

/*####################################
##### PLUGINS SECTION 1: BROWSE ######
####################################*/
.browse {
  border-bottom: solid 1px var(--grey-light);
}

.browse button {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1.2em;
  border: none;
  font-size: 1.05em;
  background-color: transparent;
  color: var(--header-color);
  margin: 1.2em;
  padding: 0;
}



/*####################################
### PLUGINS SECTION 2: HIGHLIGHT ####
####################################*/
.highlight {
  margin: 0 1.2em 1.8em 1.2em;
  padding: 1.2em;
  text-align: center;
  background-color: var(--almost-white);
}

.highlight a {
  text-decoration: none;
  color: var(--font-black);
}

.highlight article {
  display: flex;
  flex-flow: column nowrap;
}

.highlight h1 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.highlight h2 {
  font-size: 0.9em;
  font-weight: 400;
  order: -1;
  margin-bottom: .2em;
  color: var(--grey4);

}

.highlight h3 {
  font-size: 1.05em;
  margin-bottom: .5em;
}

.highlight p {
  letter-spacing: .04em;
  color: var(--grey4);
  line-height: 1.4em;
  margin-bottom: 1em;
}

.highlight p + p {
  color: white;
  background-color: var(--main-blue);
  border-radius: 2em;
  padding: .7em 1em;

  transition: .3s;
}

.highlight p + p:hover {
  background-color: var(--accent-red);
}

.highlight p + p:active {
  background-color: var(--header-color);
  color: var(--background-color);
  transition: 0s;
}

.highlight img {
  max-width: 100%;
}




/*####################################
###### PLUGINS SECTION 3: FREE #######
####################################*/
.free {
  position: relative;
  padding: 1.2em;
}

.free h2 {
  margin-top: 1.5em;
  font-size: 1.3em;
  display: inline-block;
  margin-right: .5em;
}

.free h2 + a {
  text-decoration: none;
  color:var(--main-blue);
  font-size: .9em;
}

.free h2 + a:hover {
  text-decoration: underline;
}

.free ul {
  display: flex;
  gap: 2em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: none;
  list-style-type: none;
  margin: 1.5em 0 1em 0;
  padding: 0 1em;

  /* scrollbar verbergen maar wel functionaliteit behouden: 
  bron: https://blog.hubspot.com/website/hide-scrollbar-css */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.free ul::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.free li {
  width: 180px;
  scroll-snap-align: start;
  padding: 1em;
  background-color:var(--almost-white);
  border-radius: .5em;
  margin-right: -1.5em;
}

.free h3 {
  font-size: .9em;
  font-weight: 500;
  color:var(--header-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.free li:nth-child(1) h3 {
  text-transform: uppercase;
}

.free li:nth-child(2) h3 {
  text-transform: uppercase;
}

.free li:nth-child(6) h3 {
  text-transform: uppercase;
}

.free p {
  font-size: .9em;
  font-weight: 400;
  color:var(--grey3);
}

.free p + p {
  color:var(--grey4);
  padding-top: 2em;
}

.free li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.free img {
  width: 120px;
  height: 120px;
  border-radius: 2em;
  order: -1;
  margin-bottom: 1em;
}



/*####################################
##### PLUGINS SECTION 4: PLUGINS #####
####################################*/
.plugins {
  padding: 1.2em;
}

.plugins h2 {
  font-size: 1.3em;
  display: inline-block;
  margin: .4em .5em .9em 0;
}

.plugins ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: popular;
  border: solid 1px var(--grey-light);
}

.plugins ol li {
  counter-increment: popular;
  border-bottom: solid 1px var(--grey-light);
}

.plugins ol li:nth-child(even) {
  background-color: var(--almost-white);
}

.plugins li a {
  display:grid;
  grid-template-columns: 3em 3em 1fr;
  grid-template-rows: 50% 50%;
  text-decoration: none;
  color:var(--font-black);
  height: 47px;
}

.plugins li a:hover {
  background-color: var(--almost-white);
  text-decoration: underline;
}

.plugins a img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
}

.plugins a h3 {
  grid-column-start: 3;
  grid-row-start: 1;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: .8em;
  padding: 0.4em 0 0 0;
  color: var(--header-color);
}

.plugins ol li:nth-child(6) a h3 {
  text-transform: uppercase;
}

.plugins a p {
  grid-column-start: 3;
  grid-row-start: 2;
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
  color:var(--grey3);
}

.plugins li a::before {
  content: counter(popular);
  justify-self: center;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 1.3em;
  font-weight: 300;
  color: var(--grey4);
}

.plugins ol + a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--grey1);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  border: solid 1px var(--grey-light);
  padding: .5em
}

.plugins ol + a:hover {
  background-color: var(--almost-white);
}


/*####################################
###### PLUGINS SECTION 5: MORE #######
####################################*/
.more {
  margin: 1.2em;
}

.more h2 {
  font-size: 1.3em;
  margin-bottom: .6em;
}

.more ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-gap: 2px;
}

.more a {
  display: block;
  position: relative;
}

.more img {
  width: 100%;
  filter: brightness(40%);
  display: block;
}
.more img:hover {
  filter: brightness(25%);
}
.more h3 {
  color: var(--font-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.95em;
  letter-spacing: .1em;
  font-weight: 500;
}




/*####################################
############ HOME FOOTER #############
####################################*/
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 1.4em 0 8em 0;
}

footer p {
  font-size: .9em;
  color:var(--grey1);
  font-weight: 400;
}

footer ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

footer li {
  margin-left: 1em;
  list-style: none;
}

footer li img:hover {
  filter: brightness(70%);
}

footer li:nth-of-type(1) img {
  width: 1em;
}

footer li:nth-of-type(2) img {
  width: 1em;
}

footer li:nth-of-type(3) img {
  width: 1.1em;
}




@media only screen and (min-width: 480px) {
  .hero {
    padding: 0 3.7em 0 3.7em;
  }


  .new, .popular {
    padding: 1.2em 3.7em;
  }


  .app {
    margin: 1.2em 3.7em;
    height: 24.75em;
  }


  .explore {
    margin: 3em 3.7em 5em 3.7em;
  }


  .tutorials {
    padding: 3em 3.7em 2em 3.7em;
  }


  .tips {
    margin: 1.2em 3.7em;
  }
}




@media only screen and (min-width: 768px) {
  header {
    height: auto;
    justify-content: left;
  }
  header button {
    display: none;
  }
  nav {
    position: relative;
    transform: none;
    display: flex;
    width: 100%;
    height: 3.5em;
    gap: 1em;
    align-items: center;
    justify-content:flex-end;
    flex-direction: row-reverse;
    margin: 0;
    /* tegen deze zeggen dat hij mag groeien */
  }

  nav > a {
    align-items: center;
    position: absolute;
    right: 0;
    display: block;
  }

  nav a h2, nav a p {
    display: none;
  }
  nav a img {
    width: 1.7em;
    border: solid 2px var(--grey1);
    margin: 0;
  }
   nav ul {
    margin-bottom: 0;
    display: flex;
    gap: 1em;
    flex-basis: auto;
  }
  nav ul:nth-last-child() {
    align-self: flex-end;
  }
  nav ul li {
    flex-shrink: 0;
    margin: 0;
  }
 
  .hide-on-desktop {
    display: none;
  }


  header > a:first-of-type {
    order: -1;
  }
  header div {
    display: none;
  }


  .hero h1 {
    font-size: 3em;
  }


  .new h2 {
    font-size: 1.8em;
  }


  .app {
    height: 26.25em;
  }
  .app h3 {
    font-size: 1.7em;
    margin: 0 auto .8em auto;
  }


  .popular ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }


  .explore {
    padding: 3.9em 2em 4.9em 2em;
  }
  .explore h2 {
    font-size: 1.8em;
  }


  .tutorials h2 {
    font-size: 1.8em;
    margin-bottom: 1.3em;
  }
  /*hulpbron: https://gridbyexample.com/examples/example5/: */ 
  .tutorials a {
    display: grid;
    grid-template-columns: 18.75em 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .tutorials h2 {
    font-size: 1.8em;
  }
  .tutorials img {
    margin: 0;
    border-radius: .3em 0 0 .3em;
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .tutorials h3 {
    font-size: 1.3em;
    margin-top: 1.2em;
    grid-column: 2;
    grid-row: 1;
  }
  .tutorials p {
    grid-column: 2;
    grid-row: 2;
    padding-left: 2em;
    margin-bottom: 0em
  }


  .announcement {
    margin-bottom: 1.2em;
  }
  .announcement h2 {
    font-size: 1.8em;
  }
  .announcement p:nth-of-type(2) {
    font-size: 1.3em;
  }


  .tips {
    max-width: 30em;
    margin: 0 auto;
  }


  .highlight h1 {
    font-size: 1.8em;
  }


  .more ul {
    grid-template-columns: repeat(4, 1fr);
  }
}



@media only screen and (min-width: 962px) {
  .highlight a {
    display: grid;
    grid-template-columns: 40% 1fr;
  }
  .highlight article {
    grid-column: 1;
  }
  .highlight h1 {
    text-align: left;
  }
  .highlight h2 {
    text-align: left;
  }
  .highlight h3 {
    text-align: left;
  }
  .highlight h3+p {
    text-align: left;
  }
  .highlight img {
    grid-column: 2;
    width: 100%;
  }
}



@media only screen and (min-width: 992px) {
  .more ul {
    grid-template-columns: repeat(6, 1fr);
  }
}



@media only screen and (min-width: 1320px) {
  .new, .popular, .explore, .announcement {
    max-width: 1320px;
    margin: 0 auto;
  }

  .app {
    max-width: 1200px;
    margin: 0 auto;
  }

  .explore {
    max-width: 1200px;
    margin: 0 auto 4em auto;
  }
}

@media only screen and (min-width: 1402px) {
  .highlight, .free, .plugins, .more {
    max-width: 1402px;
    margin: 0 auto;
  }

}